/* TODO
make primary and secondary colors to use repeatedly


*/


html,
body {
  margin: 0;
  padding: 0;
  /* background-color: cornflowerblue; */

}

.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
  margin-left: 220px; 
  /* background-color: cornflowerblue; */

}

.title {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Helvetica";
  font-weight: normal;
  color: white;
  /* background-color: cornflowerblue; */

}


#card-container {
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  margin-left: 220px; 
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  /* background-color: red; */

}

.card-content {
  padding: 20px;
  font-family: "Verdana";
  color: #777;
  /* background-color: red; */

}

/* the  title of the card*/
.card-content h2 {
  margin-top: 0;
  font-size: 20px;
  /* background-color: red; */

}

.card img {
  width: 100%;
  height: auto;
  /* background-color: red; */

}

.footer {
  margin-left: 220px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: red; */
  padding: 10px;
}

button {
  text-align: center;
  background-color: #666;
  /* background-color: red; */
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
}


/* ++++++side menu +++++++ */
#side-menu {
  width: 200px;
  height: 100vh;
  overflow-y: auto; /* for scrolling*/
  position: fixed; /* is independent of main for scrolling*/
  background-color: #252525;
  color: white;
  padding: 1rem;
  /* position: fixed; */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  z-index: 100;
}

/* #side-menu:hover {
  overflow-y: auto; 
} */

.side-menu-slots {
  display: flex;
  /* flex-direction: row;  */
  align-items: center;
  justify-content: space-between; 
  /* gap: 0.5rem; */
  gap: 0.25rem;
  height: 60px;
  
}

/* the following two section replaces this one */
/* .side-menu-slots button,
.sorting-parameter {
  flex: 1; 
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
} */

.side-menu-slots button {
  flex: 0 0 auto;
  width: 45px;
  height: 30px;
  /* padding: 0.25rem;       */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: auto;             */
  white-space: nowrap;
  font-size: 0.8rem;       
  border-radius: 5px;       
}


.sorting-parameter {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  padding: 0;
  line-height: 30px;
}

#side-menu button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #d4d4d4;
}

#side-menu button:hover {
  background-color: #6e6e6e;
}

.sorting-parameter {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0;
  text-align: center;
}
